h2 {
    font-size: 37px;
}

.controls {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 50px;
}

@media (max-width: 800px) {

    .controls {
        width: auto;
        height: auto;
    }

    h2 {
        font-size: 17px;
    }
}

@media (max-width: 300px) {
    h2 {
        font-size: 8px;
    }
}

@media (max-width: 700px) {
    .controls {
        padding: 10px;
        margin: 10px;
    }
}

@media (max-height: 720px) {
    h2 {
        font-size: 17px;
    }

    .controls {
        padding: 10px;
        margin: 10px;
    }
}