body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 100vh;
    background-image: url('img/5_background/layers/background.png');
    background-size: cover;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    height: 85vh;
    max-width: 90vw;
    display: block;
    max-height: 80%;
}

.description {
    height: 25vh;
    min-width: 50%;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#instruction1 {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none !important;
}

.mobile-buttons {
    display: none;
    margin: 10px;
    justify-content: space-between;
    width: 92%;
}

.mobile-buttons div {
    display: flex;
    justify-content: space-between;
}

.mobile-buttons button {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 100%;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-buttons button img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1000px) {

    canvas {
        height: auto;
        width: auto;
    }

    body {
        height: 100vh;
        justify-content: center;
    }

    .description {
        display: none;
    }

    h1 {
        display: none;
    }

    .mobile-buttons {
        display: flex;
    }
}


@media (max-height: 660px) {
    .description {
        display: none;
    }

    h1 {
        display: none;
    }

    .mobile-buttons {
        display: flex;
    }
}


@media (max-height: 460px) {
    canvas {
        height: auto;
        width: auto;
    }

}

@media (max-width: 370px) {
    body {
        background-size:auto;
    }

    .mobile-buttons button {
        width: 40px;
        height: 40px;
    }
    
    .mobile-buttons button img {
        width: 20px;
        height: 20px;
    }
}