body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 100vh;
    background-image: url('img/5_background/layers/background.png');
    background-size: cover;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    height: 85vh;
    max-width: 90vw;
    display: block;
}

.description {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actions1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actions2 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-height: 900px) {
    .description {
        display: none;
    }

    h1, h2 {
        display: none
    }

    body {
        height: 100vh;
        justify-content: center;
    }
}

@media (max-height: 900px) {}